:root {
    --primary-color: #1e1f24;
    --secondary-color: #dd9365;
    --white: #ffffff;
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-weight: 200 !important;
    letter-spacing: .1rem;
}

h1, h2 {
    font-weight: 700 !important;
}

.bg-dark {
    background-color: var(--primary-color) !important;
}

.bg-grey {
    background-color: #efefef;
}

.text-primary {
    color: var(--primary-color) !important;
}

a.text-primary:hover {
    color: var(--primary-color) !important;
}

a {
    color: rgba(256, 256, 256, .2);
}

a:hover {
    color: rgba(256, 256, 256, .5);
}

.active {
    color: var(--secondary-color);
}

.active:hover {
    color: var(--secondary-color);
}

.logo {
    min-width: 160px;
    max-width: 180px;
}

.navbar {
    min-height: 80px;
}

.nav-link, .navbar-toggler  {
    color: rgba(256, 256, 256, .2);
}

#hero {
    position: relative;
}

.lead {
    font-size: 1.5rem;
    font-weight: 200;
}

.left-border {
    border-left: 7px solid rgba(256, 256, 256, .2);
}

.content {
    margin-top: 5rem;
    padding: 0 4rem;
}

.carousel-inner {
    max-height: 100vh;
}

.carousel-button {
    position: absolute;
    bottom: 0;
    background-color: rgba(256, 256, 256, .65);
    width: 100%;
}

.video-button {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 140px;
    width: 140px;
    font-size: 70px;
    padding: 0px 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 10px solid rgba(256, 256, 256, .3);
    background-clip: padding-box;
    z-index: 999;
    -webkit-appearance: none;
    transition: all .5s;
}

.video-button:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.carousel-control-next, .carousel-control-prev {
    top: unset;
    bottom: 150px;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev {
    left: 10px;
}
